img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  color: #00aaff;
  font-size:35px;
}
body {
   background-color:#e6fff3;
}
p {
	color:black;
	font-family:Bowlby One Sec;
	text-align:center;
}
a {color:blue;}
